@use 'src/styles/palette';

.cart-container {
  position: relative;
  z-index: 99;
  height: min-content;
  width: min-content;

  &:hover .cart-toggle {
    background-color: white;
    border-left: 1px solid palette.$gray_mid_opacity;
    border-right: 1px solid palette.$gray_mid_opacity;
  }
}

.cart-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;

  &_icon {
    width: 1.375rem;
    height: 1.375rem;
  }

  &_count {
    padding-bottom: .25rem;
    font-size: 1rem;
  }
}

.cart-content {
  position: absolute;
  top: calc(5rem - 1px);
  right: 0;
  background-color: white;
  width: 30rem;
  border: 1px solid palette.$gray_mid_opacity;
  box-shadow: 0 2px 10px 0 palette.$black_mid_opacity;
  z-index: -1;

  &_summary {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    line-height: 1;
    height: 4rem;

    &__count, &__final {
      font-size: 1rem;
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &_clear {
    outline: none;
    height: 2.5rem;
    width: 7rem;
    color: white;
    border: none;
    background: linear-gradient(0deg, #7A3DC6 0%, #B65AE2 100%);
    margin-left: .5rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: linear-gradient(0deg, #B65AE2 0%, #7A3DC6 100%);
    }
  }
}
