$background: #CDCDCD;

$black_low_opacity: #00000026;
$black_mid_opacity: #0000004D;

$gray_mid_opacity: rgba(184, 184, 184, 0.5);

$white_mid_opacity: #FFFFFF7F;

$gray_light: #DEDEDE;
$gray: #b8b8b8;
$gray_dark: #979797;

$dark: #212121;

$green: #00905E;
