@use 'styles/palette';
@use 'styles/fonts';
@use 'styles/breakpoints';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: SourceSansPro, sans-serif;
  background: palette.$background;
  color: palette.$dark;
}

@media (min-width: breakpoints.$lg) {
  html, body {
    font-size: .95rem;
  }
}

@media (min-width: breakpoints.$xl) {
  html, body {
    font-size: 1.125rem;
  }
}

@media (min-width: breakpoints.$xxl) {
  html, body {
    font-size: 1.25rem;
  }
}
